# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
# 历史文件
.history
# 默认的存放文件的资源库
/files/
# 开放资源程序目录
/res/

# 其他
*.log
bindata.go
/conf
/database
/assets/frontend
/uploads
/runtime
/lang